services:
  db:
    image: postgres:latest
    container_name: dockerever_postgres
    volumes:
      - .:/docker-entrypoint-initdb.d
      - /dockerever/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - dockerever_network

  backend:
    container_name: dockerever_backend
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.backend
    volumes:
      - ../backend/alembic/:/app/alembic/
      - ../backend/src/:/app/src/
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - db
    env_file:
      - ./.env
    restart: always
    networks:
      - dockerever_network

  nginx:
    container_name: dockerever_nginx
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.nginx
    ports:
      - 80:80
    restart: always
    networks:
      - dockerever_network

  cadvisor:
    image: google/cadvisor:latest
    container_name: dockerever_cadvisor
    restart: always
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    networks:
      - dockerever_network

  prometheus:
    image: prom/prometheus:latest
    container_name: dockerever_prometheus
    ports:
      - 9090:9090
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - dockerever_network


volumes:
  pgdata:
    driver: local

networks:
  dockerever_network:
    driver: bridge